/* 29. Styling and custom properties for the nav */

/* Update nav hover color */
:root {
  --nav-item-link-hover: var(--color-white);
}

/* Before pseudo-element for nav links */
.nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 0;
  height: 0.2rem;
}

/* Hover state for nav item */
.nav .nav-item:hover .nav-link::before {
  background-color: var(--color-primary);
  width: 100%;
}
